﻿@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/Login.css")
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "User", routeValues: null, htmlAttributes: new { @class = "btn btn_partial btn_text" })
            </li>&nbsp;&nbsp;

            <li><a class="btn btn_partial btn_text" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- <li class="nav-item"><a class="nav-link" href="/Account/Register">Register</a></li>-->
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn_partial btn_text" })
    </ul>
}
