﻿
@{
    ViewBag.Title = "ChangeContactInfo";
}

<h2>ChangeContactInfo</h2>


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ChangeContactInfo", "Alerts", FormMethod.Post))
        {

            <form>
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.email, new { @class = "form-check-input", id = "email" })
                    <label class="control-label requiredField" for="email">Email</label>

                </div>
                <div class="form-check">

                    @Html.CheckBoxFor(m => m.text, new { @class = "form-check-input", id = "text" })
                    <label class="control-label requiredField" for="text">Text</label>

                </div>
                <div class="form-check">

                    @Html.CheckBoxFor(m => m.phone, new { @class = "form-check-input", id = "phone" })
                    <label class="control-label requiredField" for="phone">Phone Number</label>

                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" name="submit" type="submit">Submit</button>
                    @ViewBag.checker
                </div>
            </form>
        }
    </div>
</div>

