﻿@model FishhawkLake.Models.AlertSelectionModel



@{
    ViewBag.Title = "Alert Center";
}

<br />

<div class="row">

    <div class="col-md-6">

        @using (Html.BeginForm("Dashboard", "Alerts", FormMethod.Post))
        {
            <label class="font-weight-bold">Alert Main Controller</label>

            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.AlertOn, new { @class = "custom-control-input", type="checkbox", id = "alerton" })
                <label class="custom-control-label" for="alerton">Alert On/Off Switch</label>
            </div>
            <br />


            <form>

                <label class="font-weight-bold">Notification Type</label>

                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.email, new { @class = "custom-control-input", id = "email" })
                    <label class="custom-control-label" for="email">Email</label>
                </div>
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.text, new { @class = "custom-control-input", id = "text" })
                    <label class="custom-control-label" for="text">Text</label>
                </div>
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.phone, new { @class = "custom-control-input", id = "phone" })
                    <label class="custom-control-label" for="phone">Phone</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" name="submit" type="submit">Update</button>
                    @ViewBag.checker
                </div>
            </form>


        }

    </div>
    <div class="col-md-6">

        <label class="font-weight-bold">Contact Information</label>
        <ul class="list-group">

            <li class="list-group-item">Server Email: @ViewBag.fromEmail</li>
            <li class="list-group-item">User Email: @ViewBag.toEmail</li>
            <li class="list-group-item">ifttt Phone Trigger: @ViewBag.phoneTrigger</li>
            <li class="list-group-item">ifttt Text Trigger: @ViewBag.textTrigger</li>
        </ul>
        <br />
        <a class="btn btn btn-outline-primary btn-sm" href="../AlertUserContacts/Index" role="button">Add/Change Primary Alert Info</a>
    </div>
</div>




<div class="row">
    <div class="col-md-4">
        <label class="font-weight-bold">Current Threshold</label>
        <table class="table">
            <tr>
                <th>
                    Device ID:
                </th>
                <th>
                    Thresholds:
                </th>
                <th></th>
            </tr>


            <tr>
                <td>
                    PSI
                </td>
                <td>
                    @ViewBag.psi
                </td>
            </tr>
            <tr>
                <td>
                    Trub
                </td>
                <td>
                    @ViewBag.trub
                </td>
            </tr>
            <tr>
                <td>
                    Chlor
                </td>
                <td>
                    @ViewBag.chlor
                </td>
            </tr>
            <tr>
                <td>
                    WaterLevel
                </td>
                <td>
                    @ViewBag.wl
                </td>
            </tr>

            <tr>
                <td>
                    <a class="btn btn btn-outline-primary btn-sm" href="../Thresholds/Index" role="button">Change Threshold</a>
                </td>

            </tr>


        </table>
        <br />


    </div>
    <div class="col-md-2">

    </div>
</div>
