﻿@model IEnumerable<FishhawkLake.Models.AlertUserContact>

@{
    ViewBag.Title = "PrimaryAlertInfo";
}
<br />
<h2>Primary Alert Contact Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            UserID:
        </th>
        <th>
            Ifttt Phone Trigger:
        </th>
        <th>
            Ifttt Text Trigger:
        </th>
        <th>
            Alert Email:
        </th>
        <th>
            Primary Contact:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Select)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AID })
        </td>
    </tr>
}

</table>
