﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Ease of use for your IoT sensors</h3>
<p> We are here to create an affordable way for you to connect your sensors to the cloud.</p>
<p>
    Our site will give you a way to keep track of your water
    production on your phone or computer, so that you can spend your time more efficiently.
    Other cloud-connected equipment costs thousands of dollars to set up, and more for monthly expenses.
    But our service costs much less ($5 per month), not including the initial cost of equipment (which is
    roughly $20-$40 per sensor).
</p>
<p>
    As of the time this was written 2/18/19, the developers have not decided to glean any profit from this site.
    All cost is only that which it takes for this site to be possible- leaving you with the best bang-for-your-buck!
</p>
<h3> What you need:</h3>
<p>
    Our website is geared toward the particle photon. It is a small, cheap, web-enabled
    device that can broadcast your information for our website to use. Depending on your
    sensor, you may need a digital PSI sensor, or simply some wire to connect your existing sensors
    to the photon.
</p>

<h3> Our Vision statement:</h3>

<p>
    This website was created for Water Plant administrators who need an affordable,
    intuitive, and remote way to monitor their systems,
    the Water Systems Monitor Website is a user-friendly
    interface for plants that are set up with an economical
    web-enabled sensor system that compiles, displays, the
    data and predicts when actions should be taken. These may
    include an acute leak tracking, systematic leak tracking,
    and high turbidity prediction. These predictions will
    result in warnings and suggestions given to the plant
    administrators. Unlike existing cloud enabled sensor
    systems, our system will be affordable. For those who
    don’t have access to the existing web software and are
    compiling this information by hand, we will make the data
    gathering process centralized and easy.
</p>

<h3> About us:</h3>
<p>
    This site was made by the SpockMonkey team;
    a group of undergrad Computer Science
    students doing their Senior Project at WOU.
</p>
<p>
    It is the culmination of around 6 months of work
    by 4 very tired college students, who didn't want their
    work to go to waste.
</p>
<p>
    This project was inspired by the Fishhawk lake community water treatment plant.
</p>

<h3> Contact Info:</h3>
<p>
    If you have any questions about the site, concerns, or suggestions to make it better, please contact our developers
    at fishhawklakewaterplant@gmail.com using the form below.
</p>
<br />

<h4> Special thanks to:</h4>
<p>Kevin, Jim, and the Fishhawk lake community for providing a reason to make this site.</p>
<p>Scot Morse, for all his hard work mentoring the SpockMonkey team, as well as the entire CS Senior Sequence Class at large.</p>
<p>And to the SpockMonkey Members themselves- Jerika Hammett, Runnan Li, Yumin Chen, and Katie Rule for the hard work to make this project real.</p>

<div>
    <a href="~/Home/ContactUs" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Contact Us</a>
</div>
