﻿
@{
    ViewBag.Title = "LiveDataDisplay";
}

<h2>Live Data Display</h2>
<h4> Coming Soon! </h4>
<table class="table">
    <tr>
        <th>
            Live Data
        </th>
        <th></th>
    </tr>

    
        <tr>
            <td>
                date time here
            </td>
            <td>
                Datum here
            </td>
        </tr>
    

</table>



