﻿@model FishhawkLake.Models.Calibration

@{
    ViewBag.Title = "Calculate";
}

<br />
<h2>Calculate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CID)

        <div class="form-group"  style="display:none">
            @Html.LabelFor(model => model.DeviceID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"  style="display:none">
            @Html.LabelFor(model => model.Slope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slope, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slope, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.Intercept, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Intercept, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Intercept, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col md">
                <div class="form-group">
                    <label class="ui-controlgroup-label col-md-2" for="X">Incoming Data</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.X, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.X, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col md">
                <h4>@ViewBag.YValue</h4>
            </div>
        </div>
            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Y, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Y, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Y, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
