﻿@model FishhawkLake.Models.Calibration

@{
    ViewBag.Title = "NoFunctionsError";
}
<br />
<h2>Sorry, you tried to calculate values without a Function.</h2>
<h4> Please go fill out the function, or input some values.</h4>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
