﻿@using FishhawkLake.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/Login.css")
<br>
<div class="row">
    <div class="col-md-1">

    </div>

    <div class="col-md-10">

        <div class="card bg_opacity">
            <div class="card-body text-center">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                       
                                <div class="card-body text-center">
                                    <img src="~/Content/images/FishhawkLakeIcon.JPG" class="rounded">
                                    <br>
                                    <h2>Welcome to Fishhawk Lake Water System!</h2>
                                    <br>
                          

                            <div>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "col-md-8 form-control text-center centered" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <br>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "col-md-8 form-control text-center centered" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <br>
                            <div class="col-md-8 text-center centered">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div>
                                <div id="divCap" style="display: inline-block"></div>
                            </div>

                            <div>
                                <input type="submit" value="Log in" class="btn btn_bg_opacity" />
                            </div>
                            <br>
                            <div>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "btn btn_bg_opacity col-md-4" })
                            </div>

                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!--
      <div class="col-md-4">
          <section id="socialLoginForm">


                
                        <div id="divCap"></div>
                        <input id="reCAP" type="text" style="display:none" required />
        


    </div>

    <!--
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
        -->
    <div class="col-md-1">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/reCAP.js")"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
}