﻿
@{
    ViewBag.Title = "ErrorPartial";
}
<br />

<img class="background" src="../../img/ErrorPicture.jpg" alt="HomeBackground">
<div class="center-block text-center centered">
    <div class=" jumbotron" style="opacity:.8">
        <h1 style=" color: saddlebrown ">Oh Deer, its a partial error!</h1>
        <h2 style=" color: saddlebrown ">You put something in wrong. Or something happened. Either way, we blame you. Don't do that again. We will ask Santa's reindeer to skip your house if you do it again. </h2>
        <p><a class="btn btn-default" href="~/Home/">Have you tried going home?</a></p>
    </div>
</div>