﻿
@{
    ViewBag.Title = "Error500";
}
<br />

<img class="background" src="../../img/ErrorPicture.jpg" alt="HomeBackground">
<div class="center-block text-center centered">
    <div class=" jumbotron" style="opacity:.8">
        <!--<img src="../../img/LogoClear.png" style="max-width: 25%" />-->
        <h1 style=" color: saddlebrown ">Oh Deer, its a 500 error!</h1>
        <h2 style=" color: saddlebrown "> It seems a Buck passed by and did something to our servers.</h2>
        <p><a class="btn btn-default"  href="~/Home/">Have you tried going home?</a></p>
    </div>
</div>


